@model IEnumerable<ProjetoAgoraVai.Models.Placar>

@{
    ViewData["Title"] = "Classificacao";
}

<h1>Classificacao</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jogador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jogador.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlacarId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PlacarId">Detailhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PlacarId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
